*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Cabin Condensed', sans-serif;
    letter-spacing: 1px;
}
label{
    display: block;
}
.btn{
    background-color: black;
    color: white;
    font-weight: 600;
    transition: all .5s;
}
.btn:hover{
    background-color: white;
    color: #000000;
}
.main{
    background-image: url(https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?w=2000);
    height: 900px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.nav-pills .nav-link{
    background-color: #fff;
}

.nav{
    justify-content: center;
}
.nav-pills .nav-item{
    padding: 0 10px;
}
.nav-pills .nav-item button{
    border: 2px solid black;
}
.main__header{
    padding-top: 100px;
    width: 60%;
    margin: auto;

}
.main__content{
    width: 60%;
    margin: auto;
    text-align: center;
    position: relative;
    top: 50%;
    padding: 50px 0;
    max-height: 400px;
    /* background-image: url(https://images.wallpaperscraft.com/image/single/buddha_buddhism_meditation_147451_2560x1600.jpg); */
    border-radius: 50px;
    /* box-shadow: 0 10px 30px rgb(29 23 77 / 38%); */
    background: transparent;
}


.main__title {
    margin-bottom: 30px;
}
.main__title i{
    color: black;
}

.main__body input{
    padding: 10px 15px 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(29 23 77 / 8%);
    margin: 15px 2px;
    border: 2px solid black;
}
.main__body input:focus{
    outline: none;
}
.main__ketqua{
    position: relative;
}

.main__ketqua i {
    position: absolute;
    left: 35px;
    top: 18px;
    font-size: 25px;
    color: black;
    z-index: 99;
    transform: rotate(90deg);
}
.main__ketqua p{
    position: absolute;
    top: 15px;
    left: 65px;
    color: black;
    font-size: 20px;
}
.form-control[readonly]{
    background-color: rgb(190, 190, 190);
}
.main__ketqua input{
    padding: 25px 0;
    border-color: transparent;
    box-shadow: none;
}
.form-control:focus{
    box-shadow: none;
    border-color: transparent;
}

.main__title h5{
    font-size: 30px;
    color: black;
}


.btn:focus{
    box-shadow: none;
}

.main__thanhvien{
    padding: 10px 60px 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(29 23 77 / 8%);
    margin: 15px 2px;
    border: 2px solid black;
}
.thanhvien {
    color: #c0c0c0;
}